//
doctype html
html(lang='en', ng-app='polls')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width',
        initial-scale=1, user-scalable='no')
        title= title
        script(src='/jslibs/angular.min.js')
        script(src='/javascripts/angControllers/app.js')
        script(src='/javascripts/angControllers/main.js')
        script(src='/jslibs/jquery.min.js')
        script(src='/jslibs/angular-route.min.js')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        body(ng-controller='PollListCtrl').
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            div.navbar-header
                a.navbar-brand(href='#/polls')= title
                <li ng-repeat="poll in polls">
                <a href="#new">{{poll.text}}</a>
                </li>
                <button ng-click='showalert()'>SAVE</button>
        div.container
        div(ng-view)
