extends layout
block content
    body(ng-controller='KanbanCtrl').
    <div id="tabs_scrum">
    <div  class="col-md-10">
    <div id="tabpanel" class="panel with-nav-tabs panel-primary">
    <div class="panel-heading">
    <ul class="nav nav-tabs" id="myTab">
    <li><a href="#tab1kanbanprimary" data-toggle="tab">Board</a></li>
    <li><a href="#tab3kanbanprimary" data-toggle="tab">View Board</a></li>
    </ul>
    </div>
    <div class="panel-body">
    <div class="tab-content">
    <div class="tab-pane fade in active"  id="tab1kanbanprimary">
    include partials/Kanban/CreateBoard.html
    </div>

    <div class="tab-pane fade in active" id="tab3kanbanprimary">
    include partials/Kanban/ViewBoard.html
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
div(ng-view)