doctype html
html(lang='en', ng-app='polls')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width',
        initial-scale=1, user-scalable='no')
        title= 'Multi tenant Model'

        link(rel='stylesheet', href='/stylesheets/custom.css')
<<<<<<< HEAD
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        //link(rel='stylesheet', href='/stylesheets/datepicker.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.css')
        link(rel='stylesheet', href='/stylesheets/angular-date-picker-polyfill-basic.css')
        link(rel='stylesheet', href='/stylesheets/ui-grid-unstable.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-dialog.min.css')
        script(src='/jslibs/angular.min.js')

        script(src='/javascripts/angControllers/app.js')
        script(src='/javascripts/angControllers/main.js')
        script(src='/javascripts/angControllers/ScrumController.js')
        script(src='/javascripts/angControllers/KanbanController.js')



=======
        link(rel='stylesheet', href='/stylesheets/datepicker.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.css')
        link(rel='stylesheet', href='/stylesheets/ui-grid-unstable.css')
        script(src='/jslibs/angular.min.js')
        //script(src='/javascripts/angControllers/app.js')
        script(src='/javascripts/angControllers/main.js')
>>>>>>> 145ca882316109fe42691c56c363f44f83d78190
        script(src='/javascripts/angularServices/RESTAPIService.js')
        script(src='/javascripts/common.js')
        script(src='/jslibs/jquery.min.js')
        script(src='/jslibs/ui-grid-unstable.js')
        script(src='/jslibs/bootstrap-datetimepicker.min.js')
<<<<<<< HEAD
        script(src='/jslibs/angular-date-picker-polyfill.min.js')
        script(src='//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js')

        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
        script(src='/jslibs/angular-route.min.js')
        script(src='/jslibs/ui-bootstrap.min.js')
        script(src='/jslibs/bootstrap-dialog.min.js')
        script(src='//code.jquery.com/ui/1.11.2/jquery-ui.js')
        script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js')

=======
        script(src='/jslibs/angular-route.min.js')
        script(src='/jslibs/ui-bootstrap.min.js')
        script(src='//code.jquery.com/ui/1.11.2/jquery-ui.js')
        script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js')
>>>>>>> 145ca882316109fe42691c56c363f44f83d78190
        script(src='http://d3js.org/d3.v3.min.js')


        script.
            $(document).ready(function(){

                $(".form_datetime").datetimepicker({
                    format: "dd MM yyyy - hh:ii"
                });

                var active = 0;
                if (true) // check the condition
<<<<<<< HEAD
                    active = 0; // tab index is zero based. use -1 for last tab
                $("#tabs").tabs({
                    active: active
                });
                $("#tabs_scrum").tabs({
                    active: active
                });
=======
                    active = 2; // tab index is zero based. use -1 for last tab
                $("#tabs").tabs({
                    active: active
                });

>>>>>>> 145ca882316109fe42691c56c363f44f83d78190
                $('#tabs').bind('change', function(e) {

                       //alert("changed");
                });

            });


        body
<<<<<<< HEAD
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            div.navbar-header
                a.navbar-brand(href='#/polls')= title
                <div class="navbar navbar-inverse navbar-fixed-top" id="topnav">
                <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" href="#">ProjectTracker PRO</div>
                </div>
                <div class="navbar-brand">

                </div>
                <div class="navbar-collapse collapse" style="width:80%">
                <ul class="nav navbar-nav">
                <li class="active"><a href="/models/Login">Login</a></li>
                <li><a href="/Index">Home</a></li>
                <li><a href="#features">Reports</a></li>
                <li><a href="/models/CreateUser">Administration</a></li>
                <li style="font-color:white;margin-left:1px"><a href="#pricing">Welcome Balaji</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Tenant <b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a href="#">Waterfall</a></li>
                <li><a href="#">Another action</a></li>
                <li class="divider"></li>
                <li><a href="#">Settings</a></li>
                </ul>
                </li>
                </ul>
                </div>

                <div style="background-color:white"> </div>

                <!--/.navbar-collapse -->
                </div>


                </div>
                div
            !=body
=======
>>>>>>> 145ca882316109fe42691c56c363f44f83d78190
            #content

        block content

