extends layout
block content
    body(ng-controller='ScrumCtrl').
    <div id="tabs_scrum">
    <div  class="col-md-10">
    <div id="tabpanel" class="panel with-nav-tabs panel-primary">
    <div class="panel-heading">
    <ul class="nav nav-tabs" id="myTab">
    <li><a href="#tab1scrumprimary" data-toggle="tab">Backlog</a></li>
    <li><a href="#tab2scrumprimary" data-toggle="tab">Story</a></li>
    <li><a href="#tab13scrumprimary" data-toggle="tab">Sprint</a></li>
    <li><a href="#tab4scrumprimary" data-toggle="tab">View Progress</a></li>
    </ul>
    </div>
    <div class="panel-body">
    <div class="tab-content">
    <div class="tab-pane fade in active"  id="tab1scrumprimary">
    include partials/Scrum/createScrumBacklog.html
    </div>
    <div class="tab-pane fade in active" id="tab2scrumprimary">
    include partials/Scrum/manageStories.html
    </div>
    <div class="tab-pane fade in active" id="tab13scrumprimary">
    include partials/Scrum/createSprint.html
    </div>
    <div class="tab-pane fade in active" id="tab4scrumprimary">
    include partials/Scrum/ViewBurnDown.html
    </div>
    </div>
    </div>
    </div>
    </div>

div(ng-view)
