extends layout
block content
    body(ng-controller='WaterfallCtrl').
    <div id="tabs">
    <div  class="col-md-10">
    <div id="tabpanel" class="panel with-nav-tabs panel-primary">
    <div class="panel-heading">
    <ul class="nav nav-tabs" id="myTab">
    <li><a href="#tab1primary" data-toggle="tab">Project</a></li>
    <li><a href="#tab3primary" data-toggle="tab">Resources</a></li>
    <li><a href="#tab2primary" data-toggle="tab">Task</a></li>
    <li><a href="#tab4primary" data-toggle="tab">View Tasks</a></li>
    <li><a href="#tab5primary" data-toggle="tab">View Progress</a></li>
    </ul>
    </div>
    <div class="panel-body">
    <div class="tab-content">
    <div class="tab-pane fade in active"  id="tab1primary">
    include partials/Waterfall/createProject.html
    </div>
    <div class="tab-pane fade in active" id="tab3primary">
    include partials/Waterfall/createUpdateResources.html
    </div>
    <div class="tab-pane fade in active" id="tab2primary">
    include partials/Waterfall/createUpdateTask.html
    </div>
    <div class="tab-pane fade in active" id="tab4primary">
    include partials/Waterfall/ViewTasks.html
    </div>
    <div class="tab-pane fade in active" id="tab5primary">
    include partials/Waterfall/ViewProgress.html
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
div(ng-view)
